<div class="container">
    <h4 class="text-center m-t-25">Tracking Home</h4>
    <div class="flex">
        <a [routerLink]="[ '/application/emisor' ]">
            <div class="box">
                <p>Emisor</p>
            </div>
        </a>
        <a [routerLink]="[ '/application/receptor' ]">
            <div class="box">
                <p>Receptor</p>
            </div>
        </a>
        <a [routerLink]="[ '/application/historial' ]">
            <div class="box">
                <p>Historial</p>
            </div>
        </a>
    </div>
</div>